@charset "UTF-8";
@font-face {
    font-family: "GillSansSemiBold";
    src: url(./font/GillSansSemiBold.ttf);
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap');
  
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }
  html {
    line-height: 2;
  }
  
  ol, ul {
    list-style: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  caption, th, td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
  }
  
  q, blockquote {
    quotes: none;
  }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  
  a img {
    border: none;
  }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
  }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  html, body {
    color: #000;
    font-family:  "Noto Sans CJK JP", "Noto Sans JP", "Noto Serif CJK JP", "Noto Serif JP", "ヒラギノ角ゴ Pro", "游ゴシック", "ヒラギノ明朝 Pro", "Oswald", "メイリオ", "游ゴシック", "Noto Serif", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    line-height: 1.7;
    text-align: justify;
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
    color: #333333;
  }
  a,a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  img {
    display: block;
    width: 100%;
  }
  p, dt, dd {
    overflow-wrap: break-word;
  }
  body {
    margin: auto; 
    position: relative;
    background: #FFF;
  }
  
  /*--------------------------responsive ---------------------*/
  .clearfix::before,
  .clearfix::after {
    display: block;
    content: "";
    clear: both;
  }
  
  /*--------------------------------------------------------------------------*/
  /* Common
  ---------------------------------------------------------------------------------*/
  .c_con {
    width: 100rem;
    margin: auto;
  }
  main {
    position: relative;
  }
  .disFlex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  h1, h2, h3, h4 {
    display: block;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  h1 {
    margin: initial;
  }
  h2 {
    font-size: 4rem;
    text-align: center;
  }
  p, td, label, div, ul, li, strong, input, a{
    font-size: 1.7rem;
    line-height: 1.7;
    margin: 0;
    padding: 0;
  }
  p {
    white-space: pre-line;
  }
/*--------------------------------------------------------------------------*/
/* ボタン共通
---------------------------------------------------------------------------------*/

  .save-btn{
    width: 100%;
    border: none;
    background-color: #F3B346;
    color: #fff;
    border-radius: 10px;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 15px;
    margin-bottom: 8vh;
  }
  .save-btn:hover{
    background-color: #d3993b;
  }
/*--------------------------------------------------------------------------*/
/* ヘッダー共通
---------------------------------------------------------------------------------*/

  header{
    background-color: #fff;
    height: 55px;
  }
  .header-area{
    position: relative;
    width: 85%;
    margin: 0 auto;
    text-align: right;
    
  }
  .logo{
    display: inline-block;
    width: 95px;
    position: absolute;
    left: 0;
    top: 10px;
  }
  .user-icon{
    display: inline-block;
    width: 40px;
    margin-top: 8px;
    
  }
  .user-name{
    position: absolute;
    top: 15px;
    right: 50px;
  }
  
  
  .form-wrap{
    display: block;
    width: 100%;
    height: 100vh;
    background: #EAFFE9;
  }
  
  .form-inner{
    display: block;
    width: 85%;
    margin: 0 auto;
  }
/*--------------------------------------------------------------------------*/
/* フォームラベル共通
---------------------------------------------------------------------------------*/
.tittle-label{
    display: block;
    margin-top: 2vh;
} 

.temperature{
    width: 100%;
    height: 50px;
    border: solid 1px #BEBEBE;
    border-radius: 5px;
    background-color: #fff;
}
.form-parts{
  width: 100%;
  height: 50px;
  border: solid 1px #BEBEBE;
  border-radius: 5px;
  background-color: #EFEFEF;
  font-size: 2rem;
  padding-left: 2vw;
  color: #707070;
}
/*--------------------------------------------------------------------------*/
/* conditions.html
---------------------------------------------------------------------------------*/

select{
  font-size: 2.2rem;
  padding-left: 2vw;
  color: #707070;
}

/* 出欠席 */
.attendances {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3vh;
}
.container {
    width: 48%;
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 7px 0 7px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #7ADF92;
    border-radius: 50px;
    border: solid 1px  #707070;
  }
  .container.orange{
    background-color: #F3B346;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 10px;
    left: 25px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: solid 1px  #707070;
    
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 5px;
      left: 5px;
      content: '';
      width: 15px;
  height: 10px;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transform: rotate(-45deg);
  }

  .reason{
    display: inline-block;
    width: 32%;
  }


  .other_reason{
     width: 100%;
     border: solid 1px #707070;
     border-radius: 5px;
  }


  .feelings em{
    font-size: 5rem;
  }
  .feelings{
    display: flex;
    justify-content: space-around;
  }



/*--------------------------------------------------------------------------*/
/* conditions-edit.html
---------------------------------------------------------------------------------*/
.conditions-edit-wrap{
  width: 100vw;
}

.conditions-edit-table thead{
  background-color: #F3B346;
  color: #FFF;
  height: 40px;
  
}
.conditions-edit-table table{
  width: 100vw;
  margin: 0 auto;
}
.conditions-edit-table thead th{
  padding: 10px 0;
  text-align: center;
}
.conditions-edit-table td{
  padding: 10px 0;
}
.conditions-edit-table table tr:nth-child(odd) td {
	background: #EFEFEF;
}
.conditions-edit-table tbody td{
  text-align: center;
}
.linechart{
  padding: 5%;
}
/*--------------------------------------------------------------------------*/
/* index.html
---------------------------------------------------------------------------------*/
.index-wrap{
  width: 100vw;
}
.index-flex{
  padding-top: 50px;
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
}
.index-left-block{
  width: 30%;
}
.index-right-block{
  width: 70%;
}
.index-logo{
  width: 150px;
  margin-bottom: 50px;
}
.mypiechart{
  width: 90%;
}
.index-table{
  width: 100%;
  margin-left: 3vw;
}
.index-table thead{
  background-color: #F3B346;
  color: #FFF;
  height: 40px;
}
.index-table tr:nth-child(even) td {
	background: #EFEFEF;
}
.index-table td{
  padding: 10px 0;
}
.index-table tbody td{
  text-align: center;
}
.index-table thead th{
  padding: 10px 0;
  text-align: center;
}

/*--------------------------------------------------------------------------*/
/* create.html
---------------------------------------------------------------------------------*/

.name-flex{
  display: flex;
  justify-content: space-between;
}
.name-flex-child{
  display: inline-block;
  width: 48%;
}
.create-btn{
  margin-top: 50px;
}



/*PCsize*/
@media (max-width: 1400px) and (min-width: 768px) {


}

/*PCワイド*/
@media (min-width: 1400px) {



}